<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Footer</title>
</head>
<body>
		<footer th:fragment="footer1">
			<div class="container">
				<h1>About LearnCodeWith Deepak</h1>
				<h1>Provide good content about programming</h1>
				<h1>Feel free to contact and work with me</h1>
			
				<p>DateResolved in the Complaint table records the date and time when a complaint is resolved.</p>
			</div>
		</footer>
</body>
</html>